@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
  font-family: "YuGothic", "Yu Gothic Medium", "游ゴシック体", "游ゴシック Medium", "游ゴシック", "sans-serif";
  font-size: 16px;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 100px;
  padding: 0.4em 0.8em;
  width: 100%;
}

textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
}

select::-ms-expand {
  display: none;
}

select:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + span {
  display: inline-block;
  position: relative;
}

input[type="radio"] + span::before, input[type="radio"] + span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}

input[type="radio"] + span::before {
  left: 0;
  background-color: #fff;
}

input[type="radio"] + span::after {
  background: #3F51B5;
  opacity: 0;
}

input[type="radio"]:checked + span::after {
  opacity: 1;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span {
  display: inline-block;
  position: relative;
}

input[type="checkbox"] + span::before, input[type="checkbox"] + span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: none;
}

input[type="checkbox"] + span::before {
  left: 0;
  background-color: #fff;
}

input[type="checkbox"] + span::after {
  left: 0;
  background: transparent url(../img/box-check.png) no-repeat center center/contain;
  opacity: 0;
}

input[type="checkbox"]:checked + span::after {
  opacity: 1;
}

input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.32);
  background-image: none;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin: 0 0 1em;
  padding: 0.6em 2em;
  text-decoration: none;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  outline: none;
}

input[type="submit"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

body {
  color: #333333;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    margin: 0 30px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    margin: 0 10px;
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 120px;
}

.section.g {
  background-color: #EFEFEF;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .section {
    padding-top: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .section {
    padding-top: 60px;
  }
}

.section-title {
  text-align: center;
  margin-bottom: 80px;
  padding-bottom: 28px;
  font-size: 48px;
  font-weight: bold;
  position: relative;
}

.section-title::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 60px;
  height: 4px;
  background-color: #3F51B5;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .section-title {
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 40px;
    padding-bottom: 18px;
    font-size: 30px;
  }
}

.header {
  background-color: #3F51B5;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0px 3px 3px #00000029;
          box-shadow: 0px 3px 3px #00000029;
}

.header-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

@media only screen and (max-width: 767px) {
  .header-group {
    display: block;
    padding: 16px 0 15px;
  }
}

.header-left {
  display: block;
  height: 40px;
}

@media only screen and (max-width: 767px) {
  .header-left {
    margin: auto;
    width: 147px;
    height: 29px;
  }
}

.header-right.nav {
  margin-left: auto;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .header-right.nav {
    display: none;
  }
}

.header-nav-item:not(:first-child) {
  margin-left: 40px;
}

@media only screen and (max-width: 767px) {
  .header-nav-item:not(:first-child) {
    margin-left: 25px;
  }
}

.header-nav-item a {
  color: #fff;
  position: relative;
}

.header-nav-item a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 2px;
  width: 92%;
  height: 2px;
  background-color: #E81919;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header-nav-item a:hover::after, .header-nav-item a.active::after {
  opacity: 1;
}

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 40;
  display: none;
  -webkit-transition: -webkit-transform .4s ease 0s;
  transition: -webkit-transform .4s ease 0s;
  transition: transform .4s ease 0s;
  transition: transform .4s ease 0s, -webkit-transform .4s ease 0s;
}

@media only screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.active {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.drawer-icon.active .drawer-icon-bar1 {
  -webkit-transform: translateY(8px) rotate(-45deg);
          transform: translateY(8px) rotate(-45deg);
}

.drawer-icon.active .drawer-icon-bar2 {
  display: none;
}

.drawer-icon.active .drawer-icon-bar3 {
  -webkit-transform: translateY(-8px) rotate(45deg);
          transform: translateY(-8px) rotate(45deg);
}

.drawer-icon-bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon-bar1,
.drawer-icon-bar2,
.drawer-icon-bar3 {
  position: absolute;
  width: 22px;
  height: 4px;
  background-color: #fff;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform .6s ease 0s;
  transition: -webkit-transform .6s ease 0s;
  transition: transform .6s ease 0s;
  transition: transform .6s ease 0s, -webkit-transform .6s ease 0s;
}

.drawer-icon-bar1 {
  top: 0;
}

.drawer-icon-bar2 {
  top: 8px;
}

.drawer-icon-bar3 {
  top: 16px;
}

.main-visual {
  padding: 184px 0;
  background-image: url(../img/mainvisual.png);
  background-size: cover;
  background-position: center center;
  text-align: center;
  margin-top: 100px;
}

@media only screen and (max-width: 767px) {
  .main-visual {
    padding: 80px 0;
    margin-top: 60px;
    text-align: center;
  }
}

.main-visual-title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 32px;
}

@media only screen and (max-width: 767px) {
  .main-visual-title {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

.main-visual-lead {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .main-visual-lead {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.btn-contact {
  text-align: center;
}

.btn-contact a {
  display: inline-block;
  color: #fff;
  border: none;
  background: #3F51B5 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  font-size: 24px;
  padding: 24px 120px;
  font-weight: bold;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .btn-contact a {
    font-size: 20px;
    padding: 16px 50px;
  }
}

.btn-contact a:hover {
  color: #3F51B5;
  background-color: #fff;
}

.card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -2px;
}

.card-item {
  width: calc(33.333% - 24px * 2 / 3);
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
  margin-right: 24px;
  margin-bottom: 24px;
  color: #6F7579;
}

@media only screen and (min-width: 1200px) {
  .card-item:nth-child(3n) {
    margin-right: 0;
  }
  .card-item:nth-child(n+4) {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .card-item {
    width: calc(50% - 24px * 1 / 2);
    margin: 0;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .card-item:nth-child(2n) {
    margin-right: 0;
  }
  .card-item:nth-child(n+5) {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .card-item {
    width: 90%;
    margin: auto;
    margin-bottom: 24px;
  }
  .card-item:nth-child(n+6) {
    margin-bottom: 0;
  }
}

.card-item-img {
  margin-bottom: 14px;
}

.card-item-img img {
  width: 100%;
}

.card-item-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 11px;
}

.card-item-text {
  font-weight: bold;
  line-height: 1.5;
}

.news-group {
  width: 800px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 61px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .news-group {
    width: 90%;
  }
}

@media only screen and (max-width: 767px) {
  .news-group {
    width: 80%;
  }
}

.news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #707070;
}

.news-content:first-child {
  padding-top: 0;
}

.news-content:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .news-content {
    display: block;
  }
}

.date {
  width: 85px;
  margin-right: 20px;
  padding-top: 9px;
}

.label {
  width: 80px;
  height: 32px;
  margin-right: 20px;
  padding: 8px;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
}

.label.lb1 {
  background-color: #666666;
}

.label.lb2 {
  background-color: #3F51B5;
}

.label.lb3 {
  background-color: #E81919;
}

@media only screen and (max-width: 767px) {
  .date, .label {
    display: inline-block;
  }
}

.title {
  width: calc(100% - 205px);
  padding-top: 6px;
  line-height: 1.25;
}

@media only screen and (max-width: 767px) {
  .title {
    width: 100%;
    margin-top: 8px;
  }
}

.label, .title {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.label:hover, .title:hover {
  opacity: .6;
}

.more {
  text-align: center;
  color: #E81919;
  font-weight: bold;
}

.more a {
  position: relative;
  padding-right: 14px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.more a::after {
  position: absolute;
  content: "";
  background: url(../img/news-arrow.png) no-repeat center center/contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -1px;
  width: 7px;
  height: 11px;
}

.more a:hover {
  opacity: .6;
}

.price-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .price-group {
    display: block;
  }
}

.price-image {
  width: 37.83333%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .price-image {
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
  }
}

.price-table {
  width: 59%;
  margin-left: auto;
}

@media only screen and (max-width: 767px) {
  .price-table {
    width: 90%;
    margin: auto;
  }
}

.table {
  margin-bottom: 12px;
  border-collapse: collapse;
  table-layout: fixed;
  font-weight: bold;
  width: 100%;
}

.table th {
  color: #fff;
  background-color: #999999;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .table th:first-child {
    width: 172px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .table th:first-child {
    width: 122px;
  }
}

@media only screen and (max-width: 767px) {
  .table th:first-child {
    width: 90px;
  }
}

.table td {
  text-align: right;
}

.table th, .table td {
  height: 57px;
  border: 1px solid #707070;
  padding: 0 24px;
  vertical-align: middle;
  line-height: 1.2;
}

@media only screen and (max-width: 767px) {
  .table th, .table td {
    padding: 0 16px;
  }
}

.attention {
  color: #E81919;
}

.attention span {
  display: block;
  color: #333333;
  font-size: 13px;
}

.caution {
  font-size: 14px;
}

.caution a {
  text-decoration: underline;
  font-weight: bold;
}

.caution a:hover {
  opacity: .6;
}

.access-map {
  width: 800px;
  max-width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 16px;
}

@media only screen and (max-width: 767px) {
  .access-map {
    max-width: 90%;
    margin-bottom: 20px;
  }
}

.map {
  position: relative;
  width: 100%;
  padding-top: 50%;
  margin: auto;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access-info {
  width: 800px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .access-info {
    max-width: 90%;
  }
}

.info-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-detail:first-child {
  margin-bottom: 16px;
}

.info-detail dt {
  font-weight: bold;
  width: 104px;
}

@media only screen and (max-width: 767px) {
  .info-detail dt {
    width: 85px;
  }
}

.info-detail dd {
  width: calc(100% - 104px);
}

@media only screen and (max-width: 767px) {
  .info-detail dd {
    width: calc(100% - 85px);
  }
}

.btn-access {
  text-align: center;
}

.btn-access a {
  display: inline-block;
  color: #fff;
  border: none;
  background: #3F51B5 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  background: #3F51B5 url(../img/button-arrow.png) no-repeat right 12px center/17px 16px;
  line-height: 56px;
  position: relative;
  padding: 0 77px;
  font-weight: bold;
}

.btn-access a:hover {
  opacity: .6;
}

.contact-group {
  width: 800px;
  margin: auto;
  padding: 60px;
  background-color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-group {
    width: 700px;
  }
}

@media only screen and (max-width: 767px) {
  .contact-group {
    width: 90%;
    padding: 30px;
  }
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .form-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.form-row:nth-child(-n + 3) {
  margin-bottom: 60px;
}

@media only screen and (max-width: 767px) {
  .form-row:nth-child(-n + 3) {
    margin-bottom: 20px;
    height: 120px;
  }
}

.form-row:nth-child(4) {
  margin-bottom: 32px;
}

@media only screen and (max-width: 767px) {
  .form-row:nth-child(4) {
    height: 230px;
    margin-bottom: 20px;
  }
}

.form-row.radio {
  margin-bottom: 66px;
}

@media only screen and (max-width: 767px) {
  .form-row.radio {
    margin-bottom: 50px;
  }
  .form-row.radio label {
    width: 100%;
  }
}

.form-row.checkbox {
  display: block;
  text-align: center;
  margin-bottom: 34px;
}

@media only screen and (max-width: 767px) {
  .form-row.checkbox {
    margin-bottom: 30px;
  }
}

.form-left {
  width: 160px;
  font-weight: bold;
  position: relative;
  top: 11px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .form-left {
    width: 40%;
  }
}

@media only screen and (max-width: 767px) {
  .form-left {
    width: 100%;
  }
}

.form-left.required::after {
  position: absolute;
  left: 0;
  top: 24px;
  content: "必須";
  color: #fff;
  background-color: #E81919;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 8px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .form-left.required::after {
    left: 125px;
    top: -4px;
  }
}

@media only screen and (max-width: 767px) {
  .form-left.required::after {
    left: 125px;
    top: -4px;
  }
}

.form-right {
  width: calc(100% - 160px);
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .form-right {
    width: 60%;
  }
}

@media only screen and (max-width: 767px) {
  .form-right {
    width: 100%;
  }
}

.form-right input, .form-right select, .form-right textarea {
  width: 100%;
  padding: 7px 16px;
  font-size: 14px;
  line-height: 24 / 14;
}

.form-right input::-webkit-input-placeholder,
.form-right textarea::-webkit-input-placeholder {
  color: #CCCCCC;
}

.form-right input:-ms-input-placeholder,
.form-right textarea:-ms-input-placeholder {
  color: #CCCCCC;
}

.form-right input::-ms-input-placeholder,
.form-right textarea::-ms-input-placeholder {
  color: #CCCCCC;
}

.form-right input::placeholder,
.form-right textarea::placeholder {
  color: #CCCCCC;
}

.form-right select {
  background: transparent url(../img/select-arrow.png) no-repeat right 12px center/17px 14px;
  height: 39px;
}

.form-right textarea {
  height: 240px;
  resize: none;
}

@media only screen and (max-width: 767px) {
  .form-right textarea {
    height: 150px;
  }
}

.form-radio + span {
  padding-left: 28px;
  margin-right: 36px;
}

@media only screen and (max-width: 767px) {
  .form-radio + span {
    margin-bottom: 15px;
  }
}

.form-radio + span::before {
  border: 1px solid #707070;
  width: 20px;
  height: 20px;
}

.form-radio + span::after {
  left: 5px;
  width: 10px;
  height: 10px;
}

.form-checkbox + span {
  padding-left: 49px;
}

@media only screen and (max-width: 767px) {
  .form-checkbox + span {
    padding-left: 38px;
  }
}

.form-checkbox + span::before {
  border: 1px solid #707070;
  width: 25px;
  height: 25px;
}

.form-checkbox + span::after {
  width: 25px;
  height: 25px;
}

.form-checkbox + span a {
  text-decoration: underline;
  font-weight: bold;
}

.form-checkbox + span a:hover {
  opacity: .6;
}

.btn-submit {
  display: block;
  text-align: center;
  position: relative;
}

.btn-submit .submit {
  display: inline-block;
  color: #fff;
  border: none;
  background: #3F51B5 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  background: #3F51B5 url(../img/button-arrow.png) no-repeat right 12px center/17px 16px;
  font-weight: bold;
  padding: 20px 120px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (max-width: 767px) {
  .btn-submit .submit {
    padding: 20px 106px;
  }
}

.btn-submit .submit:hover {
  opacity: .6;
}

.footer {
  padding: 60px 40px 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  background: linear-gradient(to bottom, #666666, #333333);
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .footer {
    padding: 30px 20px 14px;
  }
}

.footer-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 43px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contents {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .footer-contents {
    display: block;
  }
}

.footer-left {
  width: 34%;
}

.footer-left .footer-company-logo {
  width: 205px;
  height: 40px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-left .footer-company-logo {
    margin: 0 auto 32px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-left .footer-company-logo {
    margin: 0 auto 32px;
  }
}

.footer-left .company-info {
  font-size: 14px;
}

.footer-left .company-info .company-address {
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-left {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .footer-left {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
}

.footer-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 56%;
}

.footer-center .footer-nav-item:not(:last-child) {
  margin-right: 40px;
}

@media only screen and (max-width: 767px) {
  .footer-center .footer-nav-item:not(:last-child) {
    margin-right: 20px;
  }
}

.footer-center .footer-nav-item a:hover {
  opacity: .6;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-center {
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .footer-center {
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
}

.footer-right .sns-item a:hover {
  opacity: .6;
}

.footer-right .sns-item:not(:last-child) {
  margin-right: 16px;
}

.footer-right .sns-item img {
  width: 30px;
  height: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-right {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .footer-right {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.copyright {
  text-align: center;
  letter-spacing: 0.4px;
}

.totop {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 60px;
  height: 60px;
}

@media only screen and (max-width: 767px) {
  .totop {
    right: 12px;
    bottom: 40px;
    width: 40px;
    height: 40px;
  }
}
