@import 'reset', 'settings';

// =======================================
// セクション共通設定
// =======================================
body {
    color: $color-text;
}

.container {
    @include mq(pc) {
        max-width: 1200px;
        margin: auto;
    }
    
    @include mq(tb) {
        margin: 0 30px;
    }

    @include mq(sp) {
        margin: 0 10px;
    }
}

.section {
    padding-top: 100px;
    padding-bottom: 120px;

    &.g {
        background-color: $color-grey;
    }

    @include mq(tb) {
        padding-top: 80px;
    }

    @include mq(sp) {
        padding-top: 60px;
    }
}

.section-title {
    text-align: center;
    margin-bottom: 80px;
    padding-bottom: 28px;
    font-size: 48px;
    font-weight: bold;
    position: relative;

    &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 60px;
        height: 4px;
        background-color: $color-main;
    }

    @include mq(tb) {
        margin-bottom: 70px;
    }

    @include mq(sp) {
        margin-bottom: 40px;
        padding-bottom: 18px;
        font-size: 30px;
    }
}

// =======================================
// headerセクション
// =======================================
.header {
    background-color: $color-main;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 3px 3px #00000029;
}

.header-group {
    display: flex;
    padding: 30px 0;

    @include mq('sp') {
        display: block;
    }
}

.header-left {
    display: block;
    height: 40px;

    @include mq('sp') {
        margin: auto;
    }
}

.header-right.nav {
    margin-left: auto;
    line-height: 40px;
    display: flex;

    @include mq('sp') {
        display: none;
    }
}

.header-nav-item:not(:first-child) {
    margin-left: 40px;

    @include mq('sp') {
        margin-left: 25px;
    }
}

.header-nav-item a {
    color: $color-white;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 2px;
        width: 92%;
        height: 2px;
        background-color: $color-accent;
        opacity: 0;
        transition: all .3s ease;
    }

    &:hover,
    &.active {
        &::after {
            opacity: 1;
        }
    }
}

// =======================================
// main-visualセクション
// =======================================
.main-visual {
    padding: 184px 0;
    background-image: url(../img/mainvisual.png);
    background-size: cover;
    background-position: center center;
    text-align: center;
    margin-top: 100px;
    
    @include mq('sp') {
        padding: 80px 0;
        text-align: center;
    }
}

.main-visual-title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 32px;

    @include mq(sp) {
        font-size: 30px;
        margin-bottom: 15px;
    }
}

.main-visual-lead {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;

    @include mq(sp) {
        font-size: 20px;
        margin-bottom: 40px;
    }
}

.btn-contact {
    text-align: center;

    a {
        @include btn();
        font-size: 24px;
        padding: 24px 120px;
        font-weight: bold;
        color: $color-white;

        @include mq(sp) {
            font-size: 20px;
            padding: 16px 50px;
        }

        &:hover {
            color: $color-main;
            background-color: $color-white;
        }
    }
}

// =======================================
// cardセクション
// =======================================
.card-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -2px;
}

.card-item {
    width: calc(33.333% - 24px * 2 / 3);
    background-color: $color-white;
    border-radius: 4px;
    padding: 16px;
    margin-right: 24px;
    margin-bottom: 24px;
    color: #6F7579;

    @include mq(pc) {
        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-child(n+4) {
            margin-bottom: 0;
        }
    }

    @include mq(tb) {
        width: calc(50% - 24px * 1 / 2);
        margin: 0;
        margin-right: 20px; 
        margin-bottom: 20px;

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-child(n+5) {
            margin-bottom: 0;
        }
    }

    @include mq('sp') {
        width: 90%;
        margin: auto;
        margin-bottom: 24px;

        &:nth-child(n+6) {
            margin-bottom: 0;
        }
    }
}

.card-item-img {
    margin-bottom: 14px;

    img {
        width: 100%;
    }
}

.card-item-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 11px;
}

.card-item-text {
    font-weight: bold;
    line-height: 1.5;
}

// =======================================
// Newsセクション
// =======================================
.news-group {
    width: 800px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 61px;

    @include mq(tb) {
        width: 90%;
    }

    @include mq(sp) {
        width: 80%;
    }
}

.news-content {
    display: flex;
    padding-top: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #707070;

    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }

    @include mq(sp) {
        display: block;
    }
}

.date {
    width: 85px;
    margin-right: 20px;
    padding-top: 9px;
}

.label {
    width: 80px;
    height: 32px;
    margin-right: 20px;
    padding: 8px;
    color: $color-white;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;

    &.lb1 {
        background-color: #666666;
    }
    &.lb2 {
        background-color: #3F51B5;
    }
    &.lb3 {
        background-color: #E81919;
    }
}

.date, .label {
    @include mq(sp) {
        display: inline-block;
    }
}

.title {
    width: calc(100% - 205px);
    padding-top: 6px;
    line-height: 1.25;

    @include mq(sp) {
        width: 100%;
        margin-top: 8px;
    }
}

.label, .title {
    transition: all .3s ease;
    
    &:hover {
        opacity: .6;
    }
}

.more {
    text-align: center;
    color: #E81919;
    font-weight: bold;

    a {
        position: relative;
        padding-right: 14px;
        transition: all .5s ease;

        &::after {
            position: absolute;
            content: "";
            background: url(../img/news-arrow.png) no-repeat center center / contain;
            top: 50%;
            transform: translateY(-50%);
            right: -1px;
            width: 7px;
            height: 11px;
        }
    
        &:hover {
            opacity: .6;
        }
    }
}

// =======================================
// Priceセクション
// =======================================
.price-group {
    display: flex;

    @include mq(sp) {
        display: block;
    }
}

.price-image {
    width: 454 / 1200 * 100%;
    height: auto;

    @include mq(sp) {
        width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 20px;
    }
}

.price-table {
    width: (172 + 268 + 268) / 1200 * 100%;
    margin-left: auto;

    @include mq(sp) {
        width: 90%;
        margin: auto;
    }
}

.table {
    margin-bottom: 12px;
    border-collapse: collapse;
    table-layout: fixed;
    font-weight: bold;
    width: 100%;

    th {
        color: $color-white;
        background-color: #999999;
        text-align: center;
        
        @include mq(pc) {
            &:first-child {
                width: 172px;
            }
        }
    
        @include mq(tb) {
            &:first-child {
                width: 122px;
            }
        }
    
        @include mq(sp) {
            &:first-child {
                width: 90px;
            }
        }
    }
    
    td {
        text-align: right;
    }
    
    th, td {
        height: 57px;
        border: 1px solid #707070;
        padding: 0 24px;
        vertical-align: middle;
        line-height: 1.2;
    
        @include mq(sp) {
            padding: 0 16px;
        }
    }
}

.attention {
    color: #E81919;

    span {
        display: block;
        color: $color-text;
        font-size: 13px;
    }
}

.caution {
    font-size: 14px;

    a {
        text-decoration: underline;
        font-weight: bold;

        &:hover {
            opacity: .6;
        }
    }
}

// =======================================
// Accessセクション
// =======================================
.access-map {
    width: 800px;
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 16px;

    @include mq(sp) {
        max-width: 90%;
        margin-bottom: 20px;
    }
}

.map {
    position: relative;
    width: 100%;
    padding-top: 50%;
    margin: auto;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
}

.access-info {
    width: 800px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 30px;

    @include mq(sp) {
        max-width: 90%;
    }
}

.info-detail {
    display: flex;
    align-items: center;

    &:first-child {
        margin-bottom: 16px;
    }

    dt {
        font-weight: bold;
        width: 104px;

        @include mq(sp) {
            width: 85px;
        }
    }

    dd {
        width: calc(100% - 104px);

        @include mq(sp) {
            width: calc(100% - 85px);
        }
    }
}

.btn-access {
    text-align: center;

    a {
        @include btn();
        background: $color-main url(../img/button-arrow.png) no-repeat right 12px center / 17px 16px;
        line-height: 56px;
        position: relative;
        padding: 0 77px;
        font-weight: bold;

        &:hover {
            opacity: .6;
        }
    }
}

// =======================================
// Contactセクション
// =======================================
.contact-group {
    width: 800px;
    margin: auto;
    padding: 60px;
    background-color: $color-white;

    @include mq(tb) {
        width: 700px;
    }

    @include mq(sp) {
        width: 90%;
        padding: 30px;
    }
}

.form-row {
    display: flex;

    @include mq(sp) {
        flex-wrap: wrap;
    }

    &:nth-child(-n + 3) {
        margin-bottom: 60px;

        @include mq(sp) {
            margin-bottom: 20px;
            height: 120px;
        }
    }

    &:nth-child(4) {
        margin-bottom: 32px;

        @include mq(sp) {
            height: 230px;
            margin-bottom: 20px;
        }
    }

    &.radio {
        margin-bottom: 66px;

        @include mq(sp) {
            margin-bottom: 50px;

            label {
                width: 100%;
            }
        }
    }

    &.checkbox {
        display: block;
        text-align: center;
        margin-bottom: 34px;

        @include mq(sp) {
            margin-bottom: 30px;
        }
    }
}

.form-left {
    width: 160px;
    font-weight: bold;
    position: relative;
    top: 11px;

    @include mq(tb) {
        width: 40%;
    }

    @include mq(sp) {
        width: 100%;
    }

    &.required::after {
        position: absolute;
        left: 0;
        top: 24px;
        content: "必須";
        color: $color-white;
        background-color: #E81919;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        padding: 4px 8px;

        @include mq(tb) {
            left: 125px;
            top: -4px;
        }

        @include mq(sp) {
            left: 125px;
            top: -4px;
        }
    }
}

.form-right {
    width: calc(100% - 160px);

    @include mq(tb) {
        width: 60%;
    }

    @include mq(sp) {
        width: 100%;
    }

    input, select, textarea {
        width: 100%;
        padding: 7px 16px;
        font-size: 14px;
        line-height: 24 / 14;
    }

    input::placeholder,
    textarea::placeholder {
        color: #CCCCCC;
    }

    select {
        background: transparent url(../img/select-arrow.png) no-repeat  right 12px center/ 17px 14px;
        height: 39px;
    }

    textarea {
        height: 240px;
        resize: none;

        @include mq(sp) {
            height: 150px;
        }
    }
}

.form-radio {
    + span {
        padding-left: 28px;
        margin-right: 36px;

        @include mq(sp) {
            margin-bottom: 15px;
        }

        &::before {
            border: 1px solid #707070;
            width: 20px;
            height: 20px;
        }
        
        &::after {
            left: 5px;
            width: 10px;
            height: 10px;
        }
    }
}

.form-checkbox {

    + span {
        padding-left: 49px;

        @include mq(sp) {
            padding-left: 38px;
        }

        &::before {
            border: 1px solid #707070;
            width: 25px;
            height: 25px;
        }
        
        &::after {
            width: 25px;
            height: 25px;
        }

        a {
            text-decoration: underline;
            font-weight: bold;

            &:hover {
                opacity: .6;
            }
        }
    }

}

.btn-submit {
    display: block;
    text-align: center;
    position: relative;

    input[type="submit"] {
        @include btn();
        background: $color-main url(../img/button-arrow.png) no-repeat right 12px center / 17px 16px;
        font-weight: bold;
        padding: 17px 120px;
        margin-bottom: 0;
        transition: all .3s ease;

        @include mq(sp) {
            padding: 20px 106px;
        }

        &:hover {
            opacity: .6;
        }
    }
}

// =======================================
// footerセクション
// =======================================
.footer {
    padding: 60px 40px 24px;
    background: linear-gradient(to bottom,  #666666, #333333);
    color: $color-white;

    @include mq(sp) {
        padding: 30px 20px 14px;
    }
}

.footer-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;

    @include mq(tb) {
        display: block;
    }

    @include mq(sp) {
        display: block;
    }
}

.footer-left {
    width: 34%;

    .footer-company-logo {
        width: 205px;
        height: 40px;
        margin-bottom: 32px;

        @include mq(tb) {
            margin: 0 auto 32px;
        }

        @include mq(sp) {
            margin: 0 auto 32px;
        }
    }

    .company-info {
        font-size: 14px;

        .company-address {
            margin-bottom: 14px;
        }
    }

    @include mq(tb) {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    @include mq(sp) {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
}

.footer-center {
    display: flex;
    width: 56%;

    .footer-nav-item:not(:last-child) {
        margin-right: 40px;

        @include mq(sp) {
            margin-right: 20px;
        }
    }

    .footer-nav-item a:hover {
        opacity: .6;
    }

    @include mq(tb) {
        width: 100%;
        margin-bottom: 30px;
        justify-content: center;
    }

    @include mq(sp) {
        width: 100%;
        margin-bottom: 30px;
        justify-content: center;
    }
}

.footer-right {
    display: flex;
    width: 10%;

    .sns-item {

        a:hover {
            opacity: .6;
        }

        &:not(:last-child) {
            margin-right: 16px;
        }

        img {
            width: 30px;
            height: 30px;
        }
    }

    @include mq(tb) {
        width: 100%;
        justify-content: center;
    }

    @include mq(sp) {
        width: 100%;
        justify-content: center;
    }
}

.copyright{
    text-align: center;
    letter-spacing: 0.4px;
}

.totop {
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 60px;
    height: 60px;

    @include mq(sp) {
        right: 12px;
        bottom: 40px;
        width: 40px;
        height: 40px;
    }
}